<style>

.footer {
  background-color: #f5f5f5;
  text-align: center;
  margin-top: 120px;
  color: #aaa;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

</style>

<footer class="footer mt-auto py-3">
      <span class="text-muted">Copyright 2020 Pranjal Pandey.</span>
      <hr>
      <div class="container my-3">
          <div class="row">
              <div class="col-md-6">
                <a href="#" class="fa fa-facebook mx-2"></a>
                <a href="#" class="fa fa-twitter mx-2"></a>
                <a href="#" class="fa fa-linkedin mx-2"></a>
              </div>
              <div class="col-md-6">

                <a href="#" class="mx-1">Home</a>
                <a href="#" class="mx-1">Courses</a>
                <a href="#" class="mx-1">Pricing</a>
                <a href="#" class="mx-1">Blogs</a>

              </div>
          </div>
      </div>
</footer>