{% extends 'mywebsite/base.html' %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">

            {% for section in sections %}

              <div class="accordion" id="accordionExample">
                <div class="card shadow">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-light btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg> {{section.title}}
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapse{{forloop.counter}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">

                      <div class="container">
                        <ol>
                        {% for lesson in lessons %}
                              {%if lesson.section == section%}
                                    <li  class="my-2"><a href="{% url 'lesson_details' course.id lesson.id %}" style="text-decoration: none;">{{lesson.title}}</a></li>
                              {% endif %}
                        {% endfor %}
                      </ol>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
        </div>
        {% if user.is_authenticated or current_lesson.lesson_type == 'free' %}
        <div class="col-md-7 mx-4">

            <iframe width="720" height="420"
                src='{{current_lesson.video_url}}'>
            </iframe> 
            
        </div>
        {% else %}
        <div class="col-md-7">
          <h4>Please Login to watch the video</h4>
        </div>
        {% endif %}
    </div>

  

</div>
   

{% endblock %}